BASE_URL=https://practice.expandtesting.com
NOTES_API_URL=https://practice.expandtesting.com/notes/api
PRACTICE_API_URL=https://practice.expandtesting.com/api
DEFAULT_USERNAME=practice
DEFAULT_PASSWORD=SuperSecretPassword!
TIMEOUT=30000
RETRIES=2
WORKERS=4